{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "plugins": [
    "prettier",
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "strict": 0,
    "prettier/prettier": ["warn", {
      "singleQuote": true,
      "trailingComma": "es5",
      "semi": false,
      "tabWidth": 2,
      "bracketSpacing": true,
      "jsxBracketSameLine": true,
      "parser": "flow"
    }],
    "react/prop-types": "off"
  },
  "extends": [
    "prettier",
    "eslint:recommended",
    "plugin:react/recommended"
  ]
}
